---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&card=tok_14MMjs4Qh7wz3HEYp1oNFTus&description=Sign%20up%20charge%20for%20testy%40fakeemail.com
    headers:
      Authorization:
      - Bearer sk_test_4SPi4dBRaF84TQpq73Qt1n9h
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-06-17'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "charge": "ch_14MMjt4Qh7wz3HEYUqzV39pP"
          }
        }
  recorded_at: Thu, 31 Jul 2014 16:49:13 GMT
recorded_with: VCR 2.9.2
