---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_14CrCP4OlWR9sB6HLFDsNf8i
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_4SPi4dBRaF84TQpq73Qt1n9h
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-06-17'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "type": "invalid_request_error",
            "message": "No such event: evt_14CrCP4OlWR9sB6HLFDsNf8i",
            "param": "id"
          }
        }
  recorded_at: Tue, 12 Aug 2014 17:00:53 GMT
recorded_with: VCR 2.9.2
