---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_14VQel4Qh7wz3HEYL1EkWXoz
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_4SPi4dBRaF84TQpq73Qt1n9h
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-06-17'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "evt_14VQel4Qh7wz3HEYL1EkWXoz",
          "created": 1408985363,
          "livemode": false,
          "type": "charge.succeeded",
          "data": {
            "object": {
              "id": "ch_14VQek4Qh7wz3HEYFfTdbrTg",
              "object": "charge",
              "created": 1408985362,
              "livemode": false,
              "paid": true,
              "amount": 999,
              "currency": "usd",
              "refunded": false,
              "card": {
                "id": "card_14VQeg4Qh7wz3HEYkNiveG1V",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 8,
                "exp_year": 2014,
                "fingerprint": "sO2ZTBxeuCANiBGv",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "customer": "cus_4ek9WG5viPn0DB"
              },
              "captured": true,
              "refunds": {
                "object": "list",
                "total_count": 0,
                "has_more": false,
                "url": "/v1/charges/ch_14VQek4Qh7wz3HEYFfTdbrTg/refunds",
                "data": []
              },
              "balance_transaction": "txn_14VQek4Qh7wz3HEYlK4yVlPl",
              "failure_message": null,
              "failure_code": null,
              "amount_refunded": 0,
              "customer": "cus_4ek9WG5viPn0DB",
              "invoice": "in_14VQek4Qh7wz3HEYIavY0rYP",
              "description": null,
              "dispute": null,
              "metadata": {},
              "statement_description": "MyFlix",
              "receipt_email": null
            }
          },
          "object": "event",
          "pending_webhooks": 0,
          "request": "iar_4ek9Z4SLK8HyYL"
        }
  recorded_at: Mon, 25 Aug 2014 17:43:35 GMT
recorded_with: VCR 2.9.2
