---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_14WA3v4Qh7wz3HEYwbcGfWXa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_4SPi4dBRaF84TQpq73Qt1n9h
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-06-17'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "evt_14WA3v4Qh7wz3HEYwbcGfWXa",
          "created": 1409159903,
          "livemode": false,
          "type": "charge.failed",
          "data": {
            "object": {
              "id": "ch_14WA3v4Qh7wz3HEYz78bfmw8",
              "object": "charge",
              "created": 1409159903,
              "livemode": false,
              "paid": false,
              "amount": 999,
              "currency": "usd",
              "refunded": false,
              "card": {
                "id": "card_14WA3C4Qh7wz3HEYZohVZv32",
                "object": "card",
                "last4": "0341",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 8,
                "exp_year": 2017,
                "fingerprint": "9Gy4w8yPVctXWgz3",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "customer": "cus_4em1tp1Kljez3a"
              },
              "captured": false,
              "refunds": {
                "object": "list",
                "total_count": 0,
                "has_more": false,
                "url": "/v1/charges/ch_14WA3v4Qh7wz3HEYz78bfmw8/refunds",
                "data": []
              },
              "balance_transaction": null,
              "failure_message": "Your card was declined.",
              "failure_code": "card_declined",
              "amount_refunded": 0,
              "customer": "cus_4em1tp1Kljez3a",
              "invoice": null,
              "description": "testing a failing cc",
              "dispute": null,
              "metadata": {},
              "statement_description": "MyFlix test",
              "receipt_email": null
            }
          },
          "object": "event",
          "pending_webhooks": 3,
          "request": "iar_4fV4Z3MbAyHpwW"
        }
  recorded_at: Wed, 27 Aug 2014 17:32:11 GMT
recorded_with: VCR 2.9.2
