---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4000000000000002&card[exp_month]=7&card[exp_year]=2016&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_4SPi4dBRaF84TQpq73Qt1n9h
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-06-17'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_14PH1M4Qh7wz3HEYMnug2bpK",
          "livemode": false,
          "created": 1407518356,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_14PH1M4Qh7wz3HEYQ7mRvkjx",
            "object": "card",
            "last4": "0002",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 7,
            "exp_year": 2016,
            "fingerprint": "VKNTE8mG0bKNmqOQ",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "customer": null
          }
        }
  recorded_at: Fri, 08 Aug 2014 17:19:16 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_14PH1M4Qh7wz3HEYMnug2bpK&plan=base&email=caandre%40schmidt.net
    headers:
      Authorization:
      - Bearer sk_test_4SPi4dBRaF84TQpq73Qt1n9h
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-06-17'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined"
          }
        }
  recorded_at: Fri, 08 Aug 2014 17:19:17 GMT
recorded_with: VCR 2.9.2
