article.video_category
  margin-bottom: 20px
  padding: 20px 0

.category-header 
  a 
    color: #eaeaea
    font-size: 18px

  a:hover
    color: white
    text-decoration: none

.video
  img
    border: 4px solid #2f2f2f
  margin-bottom: 25px
